/* Needed to shift stuff down, because of the <nav> bar */
body {
  margin-top: 30px;
}

::selection {
    background: #ffcc22;
    color: #111111;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-top: : 5%; 
	padding-bottom: 5%; 
	vertical-align: middle; 
	overflow: hidden; 
}
