---
layout: default
title: "My Blog"
---

<div class="container">
  {% include blog_pagination.html %}

  {% for post in site.posts %}
  <div class="row">
    <div class="post">
      <div class="post-info">
        <h3 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h3>
        <time class="post-time">By {{post.author}} on {{post.date | date: "%B %d, %Y" }}</time>
      </div>
        {{post.content}}
      <hr>
    </div>
  </div>
  {% endfor %}

  {% include blog_pagination.html %}
</div>


